@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

html{
    scroll-behavior: smooth;
}


/*--Inicio del menu-- */
/*===========================================*/
.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(217, 217, 217, 0.5) !important;
}

/*Boton del Menu*/
/*===========================================*/
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/*Elementos del menu colapsabble*/
/*===========================================*/
a.nav-link{
    border-radius: 50px;
}
a.nav-link:hover{
    background-color:#6C3B2A;
    color: #fff;
}

/*--Intro--*/
/*===========================================*/
#intro h1{
    font-size: 3.5rem;
    color: #6C3B2A;
    animation: movimiento 3s ;
}

#intro p{
    animation: movimiento 3s;
}



/*--Historia--*/
/*===========================================*/
#historia h3{
    font-size: 3.5rem;
    color: #6C3B2A;
    animation: movimiento 3s;
}

#historia p{
    animation: movimiento 3s;
}

.bg-secondary{
    background-color: #6C3B2A !important;
}


/* @Keyframe*/
/*===========================================*/

@keyframes movimiento{
    0%{
        transform: translateX(-300px);
    }

    100%{
        transform: translateY(0);
    }
}

/* CSS media queries */
/*===========================================*/

@media (min-width:1025px){
  #carouselExampleCaptions{
    display: none;
  }  
}

@media (max-width:768px){

    #intro h1{
        font-size: 2rem;
    }
    #intro .fs-3 {
         /*display: none; */
         font-size: 1rem !important;
    }

    #historia img{
        display: none;

    }

    #historia p{
        font-size: 1rem !important;
    }

    #footer__bootstrap p.text-white.text-center{
        font-size: 0.8rem !important;
    }
    



}