/*--Intro--*/
/*===========================================*/
#intro h1{
    font-size: 3.5rem;
    color: #6C3B2A;
    animation: movimiento 3s ;
}

#intro p{
    animation: movimiento 3s;
}

/*--Nosotros--*/
/*===========================================*/
#nosotros p{
    margin-top: 50px;
    margin-bottom: 120px;
    border: solid #6C3B2A;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#nosotros h3{
    font-size: 3.5rem !important;
    color: #6C3B2A;
}



/*--Historia--*/
/*===========================================*/
#historia h3{
    font-size: 3.5rem;
    color: #6C3B2A;
    animation: movimiento 3s;
}

#historia p{
    animation: movimiento 3s;
}


/*--Informacion--*/
/*===========================================*/

#informacion h2{
    font-size: 3.5rem;
    color: #6C3B2A;
}

#coffe{
    height: 100%;
}

.btn{
    height: $largo / 2+20;
}

/*--Contacto--*/
/*===========================================*/

#contacto-container{
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    .btn{
        background: #6C3B2A;
        &:hover{
            background-color: $green;
            color: #fff;
        }
    }
}






/* @Keyframe*/
/*===========================================*/

@keyframes movimiento{
    0%{
        transform: translateX(-300px);
    }

    100%{
        transform: translateY(0);
    }
}

/* CSS media queries */
/*===========================================*/

@media (min-width:1025px){
  #carouselExampleCaptions{
    display: none;
  }  
}

@media (max-width:768px){

    #intro h1{
        font-size: 2rem;
    }
    #intro .fs-3 {
         /*display: none; */
         font-size: 1rem !important;
    }

    #historia img{
        display: none;

    }

    #historia p{
        font-size: 1rem !important;
    }

    #footer__bootstrap p.text-white.text-center{
        font-size: 0.8rem !important;
    }

    #nosotros p{
        font-size: 1rem !important;
    }

    #nosotros h3{
        font-size: 2rem !important;
    }
    



}